/******** GLOBAL STYLES ********/

html{

	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: .9em;
	color: #000000;
}

/* The width property has been changed to max-width */
.content-wrapper {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	
	
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875rem;
	display: flex;
	justify-content: center;
	
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 0.75rem;
}

p {
	line-height: 2.25rem;
}

/******** HEADER STYLES ********/
/* The widths are in a percentage! */
header {

	display: flex;
	justify-content: center;
	

}

header h1 {
	width: 100%;
	padding-top: 38px;
	padding-bottom: 20px;
	margin: 0;

}


header h1 span {
	color: #45610E;
}


header nav {
	

	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #45610E;
	width: 100%;
}

header nav ul {
	padding: 0;
	
}

header nav ul li {
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

header nav ul li a {
	text-decoration: none;
	color: #45610E;
}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/
/* The widths are in a percentage! */
.main-image img {
	width: 100%;
	border-top: 3px solid #77A466;
	border-bottom: 3px solid #77a466;
}


.main-title h2 {
	color: #45610E;
	padding: 5px 0;
}

/******** BOTTOM SECTION ********/
.top-section,
.bottom-section {

	display: flex;
	justify-content: center;

}

.bottom-section .content-wrapper {
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
	display: flex;
	justify-content: center;
	flex-flow: column
}

.section-one,
.section-two,
.section-three {
	box-sizing: border-box;
	padding: 0;
	width: 100%;
}

.section-one {
	width: 100%;
}

.section-two {
	width: 100%;
	border-top: 5px solid #EEE;
	border-bottom: 5px solid #EEE;
}

.section-three {
	width: 100%;
}

.bottom-section h3 {
	/*margin: 30px 0;*/
	padding-top: 30px;
	padding-bottom: 30px;

}

.menu-list {
	padding-left: 0;
	list-style: none;
}

.menu-list li {
	color: #45610E;
	font-size: 16px;
	line-height: 36px;
}

/******** FOOTER STYLES ********/
/* The widths are in a percentage! */
footer {
	text-align: center;
	margin-top: 8px;
	display: flex;
	justify-content: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #45610E;
	font-size: 0.875rem;
}

@media all and (min-width: 768px) {
    /* Tablet styles here */


	.bottom-section .content-wrapper {
		border-top: 5px solid #EEE;
		border-bottom: 5px solid #EEE;
		display: flex;
		justify-content: center;
		flex-flow: row;
	}
	
	.section-one,
	.section-two,
	.section-three {
		box-sizing: border-box;
		padding: 0;
		width: 100%;
	}
	
	.section-one {
		width: 100%;
		padding-left: 20px;
		padding-right: 10px;
	}
	
	.section-two {
		width: 100%;
		border-top: 0;
		border-bottom: 0;
		border-left: 5px solid #EEE;
		border-right: 5px solid #EEE;
		padding-left: 30px;
		padding-right:30px;
	}
	
	.section-three {
		width: 100%;
		padding-left: 20px;
	}
	
	.bottom-section h3 {
		/*margin: 30px 0;*/
		padding-top: 20px;
		padding-bottom: 20px;

	
	}
	

}
 
@media all and (min-width: 1200px) {
    /* Desktop styles here */

	.content-wrapper {
		max-width: 1200px;
		width: 90%;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		
		
	}

	header {

		display: flex;
		justify-content: center;
		
	
	}
	
	header h1 {
		width: 70%;
		padding-left:0;
		padding-top: 38px;
		padding-bottom: 20px;
		margin: 0;
		text-align: left;
		display: flex;
		justify-content: flex-start;
	
	}
	
	
	header h1 span {
		color: #45610E;
	}
	
	
	header nav {
		
		border-top-width: 0;
		width: 30%;
		
	}
	
	header nav ul {
		padding: 20px 0 ;
		display: flex;
		justify-content: flex-end;
		
	}
	
	header nav ul li {
		font-size: 0.875rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 10px 0;
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	
	header nav ul li a {
		text-decoration: none;
		color: #45610E;
	}

	
}